.bs-example{

}
.accordion .fa{
    margin-right: 0.5rem;
}


#headingOne {
    display: block;
    background-color: #4B3F72;
    height: 100%;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
  }
  #headingOne:hover {
    background: #723f66;
  }
  #headingTwo {
    display: block;
    background-color: #EF6F6C;
    height: 100%;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
  }
  #headingTwo:hover {
    background: #efb16c;
  }
  #headingThree {
    display: block;
    background-color: #4B3F72;
    height: 100%;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
  }
  #headingThree:hover {
    background: #723f66;
  }

#navlink {
    color: #acacac;
    transition: color 0.5s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.iconLg {
    font-size: 2.5rem;
}
.txtLg {
    font-size: 2rem;
}
#navlink:hover {
    color: white;
}

#navlink:active {
    color:white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.portrait {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.video {
    opacity:1;
    transition: opacity 0.5s ease-in-out;
}

.video:hover {
    opacity:0.8; 
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
     
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    